html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
#wrapper,
#viewport {
  height: 100%;
  width: 100%;
}
#wrapper {
  position: relative;
}
#viewport {
  overflow: hidden;
  position: absolute;
}
.hide {
  display: none;
}
pre {
  font-family: monospace;
}
pre.debug {
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.4);
}
.show-more {
  width: 150px;
  position: absolute;
  text-align: center;
}
.drag {
  -ms-filter:  "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0)";
}
.drag .border {
  position: absolute;
  z-index: 1;
}
.drag .sloppy {
  background: url("sloppynew.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  text-outline: 0;
  border-top: 0;
  left: 0;
  right: 0;
}
.drag .filler {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-position: center;
  background-repeat: no-repeat;
}
.drag .details {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 40px;
  padding: 10px 15px 10px 15px;
  overflow: hidden;
  background: rgba(150, 150, 150, 0.3);
}
.drag .overlay {
  margin: -100px;
  padding: 100px;
  position: relative;
  pointer-events: none;
  z-index: 4;
}
.drag .overlay.ductTape1 {
  background: url("1_Up.png"), url(" 1_Down.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center 82px, center bottom 82px;
}
.drag .overlay.ductTape2 {
  background: url("2_Up-left.png"), url("2_Up-right.png"), url("2_Down-left.png"), url("2_Down-right.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 82px top 82px, right 82px top 82px, left 82px bottom 82px, right 82px bottom 82px;
}
.drag .overlay.ductTape3 {
  background: url("3_Up.png");
  background-repeat: no-repeat;
  background-position: center top 60px;
}
.drag .draggable {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  z-index: 5;
}
.drag .handle {
  display: none;
  position: absolute;
  height: 8px;
  width: 8px;
  background: url(boundary_square.png);
  z-index: 100;
}
.drag .rotate {
  display: none;
  position: absolute;
  z-index: 100;
  background: url(ROTATE-W2.png);
  height: 22px;
  width: 25px;
}
.drag.active:hover {
  cursor: url(MOVE-W2.png) 14 14, auto;
}
.drag.active:hover .handle {
  display: block;
}
.drag.active .rotate {
  display: block;
}
.drag.dropShadow {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(80, 81, 80, 0.298039);
  box-shadow: 0px 1px 2px 1px rgba(80, 81, 80, 0.298039);
}
.drag .NE {
  top: -30px;
  right: -30px;
  cursor: hand;
}
.drag .NW {
  top: -4px;
  left: -4px;
}
.drag .SE {
  bottom: -4px;
  right: -4px;
}
.drag .SW {
  bottom: -4px;
  left: -4px;
}
